:root {
    --num-grid-columns: 12;
    --section-spacing: 120px;
}
$color: gainsboro;
$color1: black;
$fontclo: white;
$font: "Ginto Normal","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
* {
  margin: 0;
  padding: 0;
  font-family: Whitney,Helvetica;
  box-sizing: border-box
}

/* header */
header {
  width: 100%;
  background: #23272a;
  position: relative;
  min-height: 690px;
  overflow: hidden;
  margin-bottom: 0px;

}
.header{
  display: flex;
  width: 80%;
  margin: auto;
}
.logo-contaniner, .nav-links, .card {
   display: flex;
   margin-top: 50px;
}
.logo-contaniner {
  flex:1

}
.nav-links {
  justify-content: space-around;
  list-style: none;
  

}
.nav-link {
  text-decoration: none;
  color: white;
  

  
}
nav ul li a{
  font-family: sans-serif;
  font-weight: bold;
}
.nav{
  list-style: none;

}
.nav-link1 {
  text-decoration: none;
}

nav{
 flex: 2;

}
.into-head {
  font-weight: 1000;
    font-size: 44px;
    font-size: clamp(24px,5vw,44px);
    line-height: 95%;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
    margin-bottom: 50px;
    margin-top: -50px

}
.card{
    flex:1;
    justify-content: flex-end;
  
}  
.bu{
    background-color: white;
    border: 1px solid white;
     border-radius: 15px;
     font-size: 15px;
     .bu a {
       text-align: center;
       top :0
     }
 }
/* end sectio one*/

/* start section tow */
.prestaion {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    color: $fontclo;
    margin-top: 120px
  
}
.cover img {
    height: 50vh;
}
 .intorduction {
      flex: 1;
 }
 .int-text h1{
     font-size: 50px;
     font-weight: bold;
     text-transform: uppercase;
    text-rendering: geometricPrecision
 }
 .int-text p {
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 50px
 }
 .cover {
     flex: 1
 }
 .cat  {
  padding-top: -20px;
  top:100px
 }
 .cat-button{
      background-color: #5865f2;
      color:$fontclo;
       border: 2px solid #5865f2;
       width: 310px;
       height: 60px;
       border-radius: 30px;
       font-size: 20px
    

 }
 .bt-para {
     background-color: #23272a;
      color: $fontclo;
      border: none;
      font-size: 17px;
      margin: 0px 30px 0px 30px
 }
          
 

 /*responsive*/
 @media screen and (max-width :1024) {
     .prestaion {
         flex-direction: column;
     }
     .intorduction {
         margin-top: 5vh;
         text-align: center;
     }
     .int-text h1 {
         font-size: 30px
     }
     .int-text p{
         font-size: 20px;
     }
     .cover img {
         height: 80%;

     }
     .cat button {
         bottom: 5%;
         right: 50%;
         width: 50%;
         transform: translate(5%,50%)
     }
     .cat {
         padding: 10px 0px 0px 0px;
     }
     .cat-button ,.bt-para {
         opacity: 0.2;
     }
 }
@media screen and (min-width: 768px){
    .int-text h1 {
        font-size: 56px
    }
    .int-text p{
        font-size: 20px;
    }

}
/* section cart */
