* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner {
  width: 100%;
  height: 80vh;
  background-image: url(../img/main.png);
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 80%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link {
  margin-top: 20px;
}

.btn {
  background-color: white;
  color: black;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 50px;
  width: 85px;
  height: 30px;
  font-size: 12px;
}

.log {
  width: 120px;
  cursor: pointer;
  margin-top: 20px;
}

.navbar ul li {
  display: inline-block;
  list-style: none;
  margin: 0 40px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.navbar ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.content {
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  color: white;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  top: 40%;
}

.content h1 {
  font-weight: 800px;
  font-size: 70px;
  font-family: fantasy;
  letter-spacing: 5px;
}

.content p {
  margin: 20px auto;
  font-size: 18px;
  line-height: 1.625;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.btn-one {
  background: white;
  color: black;
  margin-right: 20px;
  padding: 16px 32px;
  border-radius: 28px;
  font-size: 20px;
  border: none;
  font-family: Whitney,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
}

.btn-one a {
  color: black;
  text-decoration: none;
  list-style: none;
}

.btn-two a {
  color: white;
  text-decoration: none;
  list-style: none;
}

.buton {
  margin-top: 30px;
}

.btn-two {
  background: black;
  color: white;
  padding: 16px 32px;
  border-radius: 28px;
  font-size: 20px;
  border: none;
  font-family: Whitney,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
}

.buton .btn-one:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.buton .btn-two:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* section one image */
.img-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  width: 80%;
  margin-top: 50px;
  height: 80vh;
}

.img-text h1 {
  font-size: 48px;
  font-weight: 600px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-top: 60px;
}

.img-text p {
  font-size: 20px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.625;
  color: #2c2f33;
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  .img-one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    height: 900px;
  }
  .img-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 10px;
    margin: 0 auto;
  }
  .img-text h1 {
    font-size: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .img-text p {
    margin-bottom: 100px;
    font-size: 15px;
  }
  img {
    margin-top: -100px;
    width: 60%;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* image two */
.img-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
  height: 80vh;
  background-color: #f6f6f6;
  height: 700px;
}

.img-text2, .img2 {
  margin-top: 150px;
}

.img-text2 h1 {
  font-size: 48px;
  font-weight: 600px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-top: 60px;
}

.img-text2 p {
  font-size: 20px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.625;
  color: #23272a;
  margin-top: 20px;
}

.img-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  width: 80%;
  margin-top: 50px;
  height: 80vh;
}

.img-text3 h1 {
  font-size: 48px;
  font-weight: 600px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-top: 60px;
}

.img-text3 p {
  font-size: 20px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.625;
  color: #2c2f33;
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  .img-three {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    height: 900px;
  }
  .img-text3 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 10px;
    margin: 0 auto;
  }
  .img-text3 h1 {
    font-size: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
  .img-text3 p {
    margin-bottom: 100px;
    font-size: 15px;
  }
  img3 {
    margin-top: -100px;
    width: 60%;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* imag 4*/
.img-four {
  background-color: #f6f6f6;
  width: 100%;
  height: 1500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img-four .img-text4, .img-four .img4, .img-four .bt-four {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  width: 80%;
  margin: 0 auto;
}

.img-four .img-four {
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.img-text4 h1 {
  color: black;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: 800;
}

.imgfour-h1 {
  padding-top: 100px;
}

.img-text4 p {
  margin-top: 24px;
  font-size: 20px;
  line-height: 1.625;
  color: #2c2f33;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.img4 img {
  width: 95%;
}

.btn-four {
  background: #5865f2;
  color: white;
  margin-right: 20px;
  padding: 16px 32px;
  border-radius: 28px;
  font-size: 20px;
  border: none;
  font-family: Whitney,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
}

.btn-four a {
  color: white;
  text-decoration: none;
  list-style: none;
}

.bt-four .btn-four:hover {
  -webkit-box-shadow: 0 1fpx 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1fpx 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bt-four h2 {
  display: block;
  -webkit-margin-before: 1.33em;
          margin-block-start: 1.33em;
  -webkit-margin-after: 1.33em;
          margin-block-end: 1.33em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  margin-top: 10px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 32px;
  font-weight: bold;
}

#footerend {
  background-color: #23272A;
  background-size: 235px 185px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-top: 0%;
  width: 100%;
  font-family: Whitney,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
  height: 700px;
  padding-top: 0%;
}

#footerend .content {
  width: 100%;
  max-width: 1100px;
  position: relative;
  margin: 0 auto;
}

#footerend .hook {
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
}

#footerend .hook h3 {
  font-weight: 300;
  margin-top: 70px;
  font-size: 30px;
  color: #738bd7;
}

#footerend .hook .button {
  -webkit-transition: all 350ms cubic-bezier(0.25, 0.25, 0.315, 1.35);
  transition: all 350ms cubic-bezier(0.25, 0.25, 0.315, 1.35);
  translate: translateZ(0);
  background-color: #3BA55C;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 25px;
  text-align: center;
  font-weight: 600;
  overflow: hidden;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  color: #fff;
  margin: 50px 0;
  width: 250px;
  height: 42px;
  border: 0;
  padding: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#footerend .hook .button:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.main-navigation li:last-child a:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#footerend .hook .apps {
  width: 814px;
  height: 145px;
  background-image: url("../img/chofoo.png");
  background-size: 814px 145px;
  position: relative;
}

#footerend .apps-icon {
  position: absolute;
  top: 61px;
  opacity: .5;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

#footerend .apps-icon:hover {
  opacity: 1;
}

#footerend .apps .apps-browsers {
  left: 87px;
}

#footerend .apps .apps-android {
  left: 378px;
}

#footerend .apps .apps-ios {
  left: 472px;
}

#footerend .apps .apps-windows {
  left: 622px;
}

#footerend .apps .apps-osx {
  left: 694px;
}

#footerend .apps .left-mascot {
  position: absolute;
  background-image: url("../img/nem.png");
  background-size: 123px 39px;
  width: 123px;
  height: 39px;
  top: auto;
  bottom: 0;
  left: -123px;
  opacity: .6;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

#footerend .apps .left-mascot:hover {
  opacity: 1;
  bottom: 2px;
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}

#footerend .apps .right-mascot {
  position: absolute;
  background-image: url("../img/nem2.png");
  background-size: 123px 39px;
  top: auto;
  bottom: 0;
  right: -123px;
  width: 123px;
  height: 39px;
  opacity: .6;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

#footerend .apps .right-mascot:hover {
  opacity: 1;
  bottom: 2px;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}

#footerend .nav {
  border-top: 1px solid rgba(219, 221, 225, 0.1);
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding: 0 30px 50px;
}

#footerend .nav .branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 75px;
  margin-top: -20px;
}

#footerend .nav .branding a {
  height: 38px;
  display: block;
}

#footerend .nav .branding img {
  max-width: inherit !important;
  margin-top: 0;
}

#footerend .spacer {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  height: 100%;
}

#footerend .nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 100%;
  margin: 30px 0 0 0;
  width: 100%;
}

#footerend .nav .links-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

#footerend .nav .links-item {
  padding: 8px 0;
  text-align: left;
  line-height: 1;
}

#footerend .nav .link-a {
  color: white;
  opacity: .3;
  -webkit-transition: opacity .12s ease-in-out;
  transition: opacity .12s ease-in-out;
}

#footerend .link-sep {
  color: #fff;
  opacity: .3;
}

#footerend .link-hiring {
  color: #3BA55C;
  opacity: 1;
}

#footerend .nav .link-a:hover {
  opacity: 1;
  text-decoration: none;
}
/*# sourceMappingURL=header.css.map */