$backcolor:  blue;
$color: white;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    transition: .3 linear;
}


 header {
     background-color: $backcolor;
     color: $color;
       box-sizing: border-box;
       width: 100%;
        height: 600px;
         margin: auto;
        align-items: center;
        .nav {
             color: $color;
             display: inline;
              
        }
      
          nav ul {
            display: flex;
          }
          
          nav li {
            flex: auto ;
          }
           nav ul  li a{
                color: $color;

           }

 }
  .colud{
      margin-top: -100px;
       align-items: center;
        margin-left: -100px;
  }
  
  
   