
$font : Whitney,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
* {
  margin: 0;
   padding: 0;
   box-sizing: border-box
}
.banner {
  width: 100%;
  height: 80vh;
   background-image: url(../img/main.png);
    background-size: cover;
    background-position: center;
}
.navbar {
   width: 80%;
   margin: auto;
   justify-content: space-between;
   display: flex;
   padding:  0 35px;
   align-items: center;

}
.nav-link {
  margin-top: 20px
}

.btn {
  background-color: white;
  color: black;
   padding: 10px 30px ;
   cursor: pointer;
    border-radius: 50px;
    width: 85px;
    height: 30px;
    font-size: 12px
}
.log {
  width: 120px ;
  cursor: pointer;
   margin-top: 20px
}
.navbar ul li {
  display: inline-block;
  list-style: none;
   margin: 0 40px;
}
.navbar ul li a{
  color: white;
  text-decoration: none;
  font-family: $font;
  font-size: 15px;
  font-weight: bold

}
.navbar ul li a::after {
  content: "";
   width: 0;
   height: 3px;
   position: absolute;
   left:0 ;
   background: white;
  transition: 0.5s;

}
 .navbar ul li:hover::after{
   width: 100%;
 }

 .content {
  position: absolute;
   width: 100%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  font-family: $font;
  top:40%
}
.content h1 {
  font-size: 70px;
  font-weight: bold;
}
 .content p {
   margin: 20px auto;
   font-size: 18px;
   line-height: 1.625;
   font-family: $font;
 }
 .btn-one {
  background: white;
  color: black;
  margin-right: 20px;
  padding: 16px 32px;
  border-radius:  28px ;
  font-size: 20px;
  border: none;
 font-family: Whitney,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;



}
.btn-one a {
  color: black;
  text-decoration: none;
  list-style: none;
}
.btn-two a {
  color: white;
  text-decoration: none;
  list-style: none;

}
.buton {
  margin-top: 30px
}
.btn-two {
 background: black;
 color:white;
 padding: 16px 32px;
 border-radius:  28px ;
 font-size: 20px;
 border: none;
font-family: Whitney,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;

}
.buton .btn-one:hover{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.buton .btn-two:hover{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media screen and (max-width:1024px){
   .banner {
     flex-direction: column;
     

   }
   .nav-link {
     display: none;
   }
   .log {
     display: none;
   }
  
   .navbar {
     margin-top: 5vh;
     text-align: center;
   }
   .content h1 {
     font-size: 30px;
     margin-top: 50px
   }
    .content p {
      font-size: 14px;
      text-align: center;

    }
    .buton {
      padding: 10px 0px 0px 0px;
      font-size: 15px;
      

    }
    .btn-one {
      margin-top: 40px;
      margin-bottom: 30px;
      font-size: 15px;

    }
    .btn-two{
      font-size: 15px;
    }
}

// sart image sections
/* section one image */
.img-one {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
   margin: 0 auto;
   width: 80%;
   margin-top: 50px;
   height: 80vh;
   

  
}
 .img-text h1 {
    font-size: 48px;
    font-weight: 600px;
    font-family: $font;
     margin-top: 60px;
 }
 .img-text p {
   font-size: 17px;
   font-family: $font;
   line-height: 1.625;
   color:#2c2f33;
     margin-top: 20px;
 }
 @media screen and (max-width:1024px){
   .img-one {
     flex-direction: column;
     justify-content: center;
     width: 100%;


   }
   .img-text{
     align-items: center;
     margin-left: 200px;
   }
    img {
      margin-top: 200px;
      
    }
   
 }
 // 
 /* image two */
 .img-two {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
   margin: 0 auto;
   width: 100%;
   margin-top: 50px;
   height: 80vh;
   background-color: #f6f6f6;
   padding: 0%;
    background-position: center;
     background-size: cover;
}
.img-2 {
  order: 2;

}
 .img-text h1 {
    font-size: 48px;
    font-weight: 600px;
    font-family: $font;
     margin-top: 60px;
 }
 .img-text p {
   font-size: 17px;
   font-family: $font;
   line-height: 1.625;
   color:#2c2f33;
     margin-top: 20px;
 }
 @media screen and (max-width:1024px){
   .img-one {
     flex-direction: column;
     justify-content: center;
     width: 100%;


   }
   .img-text{
     align-items: center;
     margin-left: 200px;
   }
    img {
      margin-top: 200px;
      
    }
   
 }


 