* {
  margin: 0;
  padding: 0;
  font-family: Whitney,Helvetica;
}

.banner {
  background: blue;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.navbar {
  width: auto;
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: blue;
}

.logo {
  width: 180px;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 30px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: none;
  font-size: 20px;
  font-weight: bold;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0%;
  background: white;
  position: absolute;
  left: 0;
  bottom: -10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.content {
  width: 100%;
  position: absolute;
  top: 20%;
  -webkit-transform: translate(0%);
          transform: translate(0%);
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 50px;
  margin-top: 50px;
  font-weight: 800px;
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

button {
  width: 300px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid white;
  color: black;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: white;
}

btn {
  width: 300px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: black;
}

.btn {
  background-color: black;
  color: white;
  border: 2px solid black;
}

span {
  background: #ff5d06;
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

button:hover span {
  width: 100%;
}

/*imag 1*/
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: auto 100px;
  margin-top: 100px;
}

.column {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  max-width: 50%;
  padding: -100px;
}

.column img {
  vertical-align: middle;
}

.column h1 p {
  margin-top: 8px;
  vertical-align: middle;
  margin-left: -100px;
  padding-left: -200px;
}

/* Responsive */
@media (max-width: 800px) {
  .column {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 60%;
  }
}

/* Responsive */
@media (max-width: 600px) {
  .column {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}

/*imag 2*/
.row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 150px;
  margin-top: 150px;
  background: gainsboro;
}

.column1 {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  max-width: 100%;
  padding: -100px;
}

.column1 img {
  vertical-align: middle;
}

.column1 h1 p {
  margin-top: 8px;
  vertical-align: middle;
  margin-left: -100px;
  padding-left: -200px;
}

.column1 h1 {
  font-size: 50px;
  font-weight: bold;
}

p {
  line-height: 30px;
}

.img2 {
  width: 100%;
  background-size: cover;
}

/* Responsive */
@media (max-width: 800px) {
  .column1 {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 60%;
    width: 100%;
  }
}

/* Responsive */
@media (max-width: 600px) {
  .column1 {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}

/* image 4*/
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 20px;
  text-align: center;
  margin-top: 100px;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
}

.text {
  margin-top: 100px;
}

/* Responsive  */
@media (max-width: 800px) {
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=header.css.map */