.h4-text {
    font-size: 4vw;
    font-family: fantasy;
    letter-spacing: 3px;
    

}

// responsive 
@media screen and (max-width:1280px){
    .int-text p{
        font-size: 16px;
    }
    .cat{
        flex-direction: column;

    }
    .bt-para {
        margin-top: 10px;
    }

}
//1024
 @media screen and (max-width:1024px){
     .cat-button {
         width: 250px;
         font-size: 20px;
     }
     
 }
 //912 
 @media screen and (max-width:912px){
     nav {
         display: none;

     }
     .cover img {
         width: 950px;
          margin-top: -100px;
          margin-left: -50px
     }
     .h4-text {
         margin-top: -300px;
         font-size: 3vw;
     }
     .int-text p {
         font-size: 15px;

     }
     //876
     @media screen and (max-width:876px) {
         .h2-text{
             font-size: 50px;
             white-space: normal;

         }
         .cat-button {
             width: 300px;
             height: 50px;
             margin-right: 100px
         }
         .bt-para {
             margin-top: 50px;
         }
         .cover img {
             width: 700px;
             height: 600px;
         }
         .int-text p{
            white-space: normal;

         }
         
     }
     
 }
 //540
 @media screen and (max-width:540px){
     .header {
         height: 90px;
     }
     .cover img {
         display: none;

     }
     .h4-text {
         margin-top: -50px;
         font-size: 7vw;

     }
     .int-text p{
         font-size: 15px;
         white-space: normal;

         

     }
   .cat-button {
       width: 400px;
        margin-left: 20px;

   }
   .bt-para {
       margin-left: 150px;
   }

 }
 //412

 @media screen and (max-width:412px){
     .h4-text {
         font-size: 50px;
         white-space: nowrap;
         margin-top: -40px;

     }
    .text-p  {
         font-size: 15px;
         margin-right: 10px;
     }
     .cat-button {
         width: 300px;

     }
     .cover img {
         display: none;

     }
     .bt-para {
         margin-left: 90px
     }
     
 }
 // 390 
 @media screen and (max-width:390px){
     height: 300px;
    .h1-intor {
        margin-top: -200px;
    }
    .int-text p{
        font-size: 14px;
        white-space: normal;

    }
 }
