// responsive 
@media screen and (max-width:1280px){
    .int-text p{
        font-size: 16px;
    }
    .cat{
        flex-direction: column;

    }
    .bt-para {
        margin-top: 10px;
    }

}
//1024
 @media screen and (max-width:1024px){
     .cat-button {
         width: 250px;
         font-size: 20px;
     }
     
 }
 //912 
 @media screen and (max-width:912px){
     nav {
         display: none;

     }
     .cover img {
         width: 950px;
          margin-top: -100px;
          margin-left: -50px
     }
     .int-text h1 {
         margin-top: -300px;
         font-size: 30vw;
     }
     .int-text p {
         font-size: 15px;
         white-space: nowrap;

     }
     //876
     @media screen and (max-width:876px) {
         .h2-text{
             font-size: 50px;
             white-space: normal;

         }
         .cat-button {
             width: 300px;
             height: 50px;
             margin-right: 100px
         }
         .bt-para {
             margin-top: 50px;
         }
         .cover img {
             width: 700px;
             height: 600px;
         }
         .int-text p{
            white-space: normal;

         }
         
     }
     
 }
 //412
 
