* {
  margin: 0;
  padding: 0;
  font-family: Whitney,Helvetica;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* header */
.main {
  margin-top: -1000px;
}

.myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

header {
  width: 100%;
  position: relative;
  min-height: 690px;
  overflow: hidden;
  margin-bottom: 0px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
}

.logo-contaniner, .nav-links, .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.logo-contaniner {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav-links {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
}

nav ul li a {
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
}

.nav {
  list-style: none;
}

.nav-link1 {
  text-decoration: none;
}

nav {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.into-head {
  font-weight: 1000;
  font-size: 44px;
  font-size: clamp(24px, 5vw, 44px);
  line-height: 95%;
  text-transform: uppercase;
  text-rendering: geometricPrecision;
  margin-bottom: 50px;
  margin-top: -50px;
}

.card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.bu {
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
  font-size: 15px;
}

.bu .bu a {
  text-align: center;
  top: 0;
}

/* end sectio one*/
/* start section tow */
.prestaion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-top: 120px;
}

.cover img {
  height: 50vh;
}

.intorduction {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.int-text h1 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  text-rendering: geometricPrecision;
}

.int-text p {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.cover {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cat {
  padding-top: -20px;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cat-button1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: cetner;
      -ms-flex-align: cetner;
          align-items: cetner;
  padding: 3px 5px;
  background-color: #23272a;
  color: white;
  border: 2px solid #23272a;
  width: 310px;
  height: 60px;
  border-radius: 30px;
  font-size: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.para-btuon {
  background: #5865f2;
  text-align: center;
  height: 20px;
  width: 50px;
  border: 2px  solid #5865f2;
  border-radius: 20px;
  margin-right: 30px;
}

.para1-btuon {
  margin-left: 50px;
  font-size: 20px;
}

.cat-button {
  background-color: #23272a;
  color: white;
  border: none;
  font-size: 20px;
  margin: 0px 30px 0px 30px;
  border: 2px solid #23272a;
  border-radius: 40px;
  width: 200px;
}

/* section 2 cart */
.section-text {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 100px;
}

.scetion-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 50px;
  margin: auto;
  width: 80%;
  margin-bottom: 20px;
}

/* sart section cart */
.text-section {
  font-size: 50px;
  font-weight: 400px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: fantasy;
}

.section-text p {
  font-size: 20px;
}

.end-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.end-head {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -100px;
}

.cart-one {
  border: 2px;
  background: linear-gradient(142.53deg, #00a295, #26e8f4 98.75%), #3dcda7;
  height: 300px;
  color: white;
  width: 30%;
  font-size: 15px;
  border-radius: 15px;
}

.cart-one .cart-prar, .cart-one .cart-prar1 {
  margin-top: 50px;
}

.cart-one .cart-prar1 {
  margin-bottom: 10px;
}

.img {
  margin-top: 30px;
}

.cart-one2 {
  border: 2px;
  background: linear-gradient(321.82deg, #21f2ff, #4181ff 59.22%, #4475ff 98.02%), #7196ff;
  height: 300px;
  color: white;
  width: 30%;
  font-size: 15px;
  border-radius: 15px;
}

.cart-one2 .cart-prar, .cart-one2 .cart-prar1 {
  margin-top: 50px;
}

.cart-one2 .cart-prar1 {
  margin-bottom: 10px;
}

.img {
  margin-top: 30px;
}

.cart-one3 {
  border: 2px;
  background: linear-gradient(138.46deg, #3e70ff 1.48%, #9a98ff 98.75%), #ff73fa;
  height: 300px;
  color: white;
  width: 30%;
  font-size: 15px;
  border-radius: 15px;
}

.cart-one3 .cart-prar, .cart-one3 .cart-prar1 {
  margin-top: 50px;
}

.cart-one3 .cart-prar1 {
  margin-bottom: 10px;
}

.img {
  margin-top: 30px;
}

.cart-one4 {
  border: 2px;
  background: linear-gradient(141.85deg, #7e7bff, #ff73fa);
  height: 300px;
  color: white;
  width: 30%;
  font-size: 15px;
  border-radius: 15px;
}

.cart-one4 .cart-prar, .cart-one4 .cart-prar1 {
  margin-top: 50px;
}

.cart-one4 .cart-prar1 {
  margin-bottom: 10px;
}

.img {
  margin-top: 30px;
}

.cart-one5 {
  border: 2px;
  background: linear-gradient(141.48deg, #f837ee 1.35%, #ffcd4b);
  height: 300px;
  color: white;
  width: 30%;
  font-size: 15px;
  border-radius: 15px;
}

.cart-one5 .cart-prar, .cart-one5 .cart-prar1 {
  margin-top: 50px;
}

.cart-one5 .cart-prar1 {
  margin-bottom: 10px;
}

.img {
  margin-top: 30px;
}

.cart-one6 {
  border: 2px;
  background: linear-gradient(321.73deg, #ffcd4b -1.09%, #ee6315 100.65%);
  height: 300px;
  color: white;
  width: 30%;
  font-size: 15px;
  border-radius: 15px;
}

.cart-one6 .cart-prar, .cart-one6 .cart-prar1 {
  margin-top: 50px;
}

.cart-one6 .cart-prar1 {
  margin-bottom: 10px;
}

.img {
  margin-top: 30px;
}

/* section cart 28*/
.section-cart2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 50px;
  margin: auto;
  width: 80%;
  margin-bottom: 200px;
}

/* end button*/
.section-head {
  text-align: center;
  margin-top: -100px;
  margin-bottom: 30px;
}

.section-bton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 60px;
  margin: auto;
  width: 80%;
  margin-bottom: 200px;
  margin-left: 480px;
}

.cat-button3 {
  background-color: #23272a;
  color: white;
  border: none;
  font-size: 20px;
  margin: 0px 30px 0px 30px;
  border: 2px solid #23272a;
  border-radius: 40px;
  width: 200px;
}

/*responsive*/
@media screen and (max-width: 1024) {
  .prestaion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intorduction {
    margin-top: 5vh;
    text-align: center;
  }
  .int-text h1 {
    font-size: 30px;
  }
  .int-text p {
    font-size: 20px;
  }
  .cover img {
    height: 80%;
  }
  .cat button {
    bottom: 5%;
    right: 50%;
    width: 50%;
    -webkit-transform: translate(5%, 50%);
            transform: translate(5%, 50%);
  }
  .cat {
    padding: 10px 0px 0px 0px;
  }
  .cat-button, .bt-para {
    opacity: 0.2;
  }
}

.section-2 {
  position: relative;
  min-height: 406px;
  padding-top: 92px;
  padding-bottom: 92px;
  background-image: linear-gradient(135deg, #8547c6 10%, #b845c1 50%, #ab5d8a);
}

.div-block-17 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.tab-qa {
  margin-right: 16px;
  margin-left: 16px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: rgba(221, 221, 221, 0);
  color: #72767d;
  font-size: 16px;
}

.tab-qa.w--current {
  border-bottom: 1.5px solid #5865f2;
  background-color: rgba(221, 221, 221, 0);
  color: #5865f2;
  font-weight: 600;
}

.tabs-menu-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tabs-3 {
  margin-top: 40px;
}

.dropdown-qa {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 8px;
  background-color: #f6f6f6;
}

.dropdown-toggle-blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 24px 60px 24px 24px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #1b1c23;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  white-space: pre-wrap;
}

.dropdown-toggle-blue.w--open {
  line-height: 32px;
  font-weight: 600;
}

.dropdown-list-4 {
  position: static;
}

.dropdown-list-4.w--open {
  padding-right: 24px;
  padding-left: 24px;
  background-color: rgba(221, 221, 221, 0);
}

.drop-plus {
  position: absolute;
  left: auto;
  top: auto;
  right: 24px;
  bottom: auto;
}

.image-11 {
  position: absolute;
  left: 0px;
  top: auto;
  right: auto;
  bottom: 170px;
}

.image-12 {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 300px;
}

.div-block-plan {
  display: none;
}

.tab_image {
  max-width: 130px;
}

.tab_image.soundcloud {
  max-width: 100px;
}

.grid-anim {
  overflow: hidden;
  margin-right: -20px;
  margin-bottom: 0px;
  margin-left: -20px;
  padding: 20px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

._14px-grey {
  color: #4f5660;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

._14px-grey._250px {
  max-width: 230px;
  line-height: 20px;
}

._14px-grey._210px {
  max-width: 210px;
}

._14px-grey._190px {
  max-width: 185px;
}

._14px-grey._190px {
  max-width: 185px;
}

.image-card {
  margin-top: 0px;
  margin-bottom: auto;
}

.developer-slider-wrapper.hiden {
  display: none;
}

.link-16px {
  color: #fff;
  font-size: 16px;
  text-decoration: underline;
}

.grid-anim-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-row-gap: 8px;
}

.unleash-image-bg-1 {
  left: 0%;
}

.unleash-image-bg-2 {
  right: 0%;
}

.unleash-image-bg-1 {
  position: absolute;
  left: -1%;
  top: 0px;
  right: auto;
  bottom: 0px;
  max-width: 25%;
  margin-top: auto;
  margin-bottom: auto;
}

.unleash-image-bg-2 {
  position: absolute;
  left: auto;
  top: 0%;
  right: -1%;
  bottom: 0%;
  max-width: 22%;
  margin-top: auto;
  margin-bottom: auto;
}

.image-hero-mobile {
  display: none;
}

.form-block-2 {
  display: none;
}

.image-404 {
  position: relative;
  width: 106%;
  max-width: 786px;
}

.left-404 {
  padding-right: 60px;
}

.link-404 {
  padding-top: 6px;
  padding-bottom: 6px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #00aff4;
  font-weight: 300;
}

.new-h2.font-white.nitro {
  margin-bottom: 32px;
  margin-left: 500px;
  font-size: 3vw;
}

.new-h2.college {
  margin-bottom: 24px;
}

.new-h2.bot-padding {
  margin-bottom: 20px;
}

.font-blurple {
  color: #5865f2;
}

.font-white {
  color: #fff;
}

h2 {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: 'Ginto nord', sans-serif;
  color: #23272a;
  font-size: 40px;
  line-height: 38px;
  font-weight: 700;
}

.new-button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 400px;
}

.new-button button {
  margin-left: 300px;
  color: blue;
  width: 200px;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 200px;
  font-family: "Ginto Normal", "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.new-button a {
  color: blue;
  text-decoration: none;
}

.new-button button:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.new-button a:hover {
  color: #1b1c23;
}

.new-b3 {
  width: 200px;
  height: 50px;
  background-color: #1b1c23;
  color: white;
  border-radius: 25px;
  font-size: 18px;
  font-family: "Ginto Normal", "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 200px;
  margin-top: -100px;
}

.new-b3 a:hover {
  color: red;
}

.new-b3 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.new-b3 button a {
  border: none;
}

.new-b3 a {
  color: white;
  text-decoration: none;
  list-style: none;
}

@media screen and (max-width: 1024px) {
  .newheader {
    height: 600px;
    width: 100%;
  }
  .ogo-contaniner, .logo-3oeRIY {
    width: 200px;
  }
  nav .nav-links {
    display: inline;
  }
  .title-3pcEJ3 p {
    font-size: 15px;
    font-family: "Ginto Normal", "Whitney", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }
  .new-b3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .section-2 wf-section {
    height: 400px;
    width: 100%;
  }
  #h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .new-button button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: 50px;
  }
}

@media screen and (max-width: 912px) {
  .newheader {
    height: 500px;
  }
  .myVideo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .scetion-cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart-one {
    width: 700px;
    margin-bottom: 20px;
  }
  #new-img {
    width: 270px;
    margin-bottom: 100px;
  }
  #new-img2 {
    width: 250px;
    height: 150px;
  }
  #new-para {
    font-size: 20px;
  }
  .cart-one2 {
    width: 700px;
    margin-bottom: 20px;
  }
  .cart-one3 {
    width: 700px;
    margin-bottom: 20px;
  }
  .section-cart2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart-one4 {
    width: 700px;
    margin-bottom: 20px;
  }
  .cart-one5 {
    width: 700px;
    margin-bottom: 20px;
  }
  .cart-one6 {
    width: 700px;
    margin-bottom: 20px;
  }
  .new-b3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: -100px;
    margin-top: -150px;
  }
  .section-bton {
    height: 100px;
  }
}

@media screen and (max-width: 820px) {
  .new-b3 {
    display: block;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -150px;
  }
  .logo-contaniner svg {
    display: inline;
  }
  .section-text h1 {
    font-size: 4vw;
  }
}

@media screen and (max-width: 786px) {
  .section-2 wf-section {
    display: none;
  }
  .new-b3 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-content: center;
    margin-right: 100px;
  }
}
/*# sourceMappingURL=styl2.css.map */