* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner {
  width: 100%;
  height: 80vh;
  background-image: url(../img/main.png);
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 80%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link {
  margin-top: 20px;
}

.btn {
  background-color: white;
  color: black;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 50px;
  width: 85px;
  height: 30px;
  font-size: 12px;
}

.log {
  width: 120px;
  cursor: pointer;
  margin-top: 20px;
}

.navbar ul li {
  display: inline-block;
  list-style: none;
  margin: 0 40px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.navbar ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.content {
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  color: white;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  top: 40%;
}

.content h1 {
  font-weight: 800px;
  font-size: 70px;
  font-family: fantasy;
  letter-spacing: 5px;
}

.content p {
  margin: 20px auto;
  font-size: 18px;
  line-height: 1.625;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.btn-one {
  background: white;
  color: black;
  margin-right: 20px;
  padding: 16px 32px;
  border-radius: 28px;
  font-size: 20px;
  border: none;
  font-family: Whitney,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
}

.btn-one a {
  color: black;
  text-decoration: none;
  list-style: none;
}

.btn-two a {
  color: white;
  text-decoration: none;
  list-style: none;
}

.buton {
  margin-top: 30px;
}

.btn-two {
  background: black;
  color: white;
  padding: 16px 32px;
  border-radius: 28px;
  font-size: 20px;
  border: none;
  font-family: Whitney,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
}

.buton .btn-one:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.buton .btn-two:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media screen and (max-width: 1500px) {
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .log {
    display: none;
  }
  .nav-link {
    display: none;
  }
  .navbar img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar {
    margin-top: 5vh;
    text-align: center;
  }
  .content h1 {
    font-size: 70px;
    margin-top: 50px;
  }
  .content p {
    font-size: 20px;
    text-align: center;
  }
  .buton {
    padding: 10px 0px 0px 0px;
    font-size: 15px;
  }
  .btn-one {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 15px;
  }
  .btn-two {
    font-size: 17px;
  }
}

@media screen and (max-width: 1100px) {
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content h1 {
    font-size: 50px;
    font-weight: bold;
  }
  .content p {
    font-size: 20px;
  }
}

@media screen and (max-width: 820px) {
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: fantasy;
    height: 700px;
  }
  .content h1 {
    font-size: 8vw;
    font-family: fantasy;
    margin-top: -100px;
  }
  .content p {
    font-size: 20px;
  }
  .buton {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .btn-one {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content h1 {
    font-size: 70px;
    top: 0;
    margin-top: -20px;
  }
  .content p {
    font-size: 20px;
    text-align: center;
  }
  .buton, .btn-one, .btn-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .btn-one {
    font-size: 30px;
  }
  .btn-two {
    font-size: 25px;
  }
}

@media screen and (max-width: 414px) {
  .banner {
    height: 800px;
  }
  .content h1 {
    margin-top: 10px;
    font-size: 40px;
  }
  .content p {
    font-size: 15px;
    text-align: inherit;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .buton {
    margin-top: -20px;
  }
  .btn-one {
    width: 300px;
    font-size: 20px;
  }
  .btn-two {
    font-size: 20px;
  }
}

@media screen and (max-width: 390px) {
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content h1 {
    font-size: 10px;
  }
}

@media screen and (max-width: 375px) {
  .banner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
  }
  .content h1 {
    font-size: 20px;
    margin-top: 300px;
  }
  .content p {
    font-size: 14px;
    text-align: left;
  }
  .buton {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .btn-one {
    width: 300px;
  }
  .btn-two {
    width: 300px;
  }
}

/* section one image */
.img-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  width: 80%;
  margin-top: 50px;
  height: 80vh;
}

.img-text h1 {
  font-size: 48px;
  font-weight: 600px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-top: 60px;
}

.img-text p {
  font-size: 20px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.625;
  color: #2c2f33;
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  .img-one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    height: 900px;
  }
  .img-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 10px;
    margin: 0 auto;
  }
  .img-text h1 {
    font-size: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .img-text p {
    margin-bottom: 100px;
    font-size: 15px;
  }
  img {
    margin-top: -100px;
    width: 60%;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* image two */
.img-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
  height: 80vh;
  background-color: #f6f6f6;
  height: 700px;
}

.img-text2, .img2 {
  margin-top: 150px;
}

.img-text2 h1 {
  font-size: 48px;
  font-weight: 600px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-top: 60px;
}

.img-text2 p {
  font-size: 20px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.625;
  color: #2c2f33;
  margin-top: 20px;
}

/* imag 4*/
.img-four {
  background-color: #f6f6f6;
  width: 100%;
  height: 1300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img-four .img-text4, .img-four .img4, .img-four .bt-four {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: block;
  width: 80%;
  margin: 0 auto;
}

.img-text4 h1 {
  color: black;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
}

.imgfour-h1 {
  padding-top: 100px;
}

.img-text4 p {
  margin-top: 24px;
  font-size: 20px;
  line-height: 1.625;
  color: #2c2f33;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.img4 img {
  width: 95%;
}

.btn-four {
  background: #5865f2;
  color: white;
  margin-right: 20px;
  padding: 16px 32px;
  border-radius: 28px;
  font-size: 20px;
  border: none;
  font-family: Whitney,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
}

.btn-four a {
  color: white;
  text-decoration: none;
  list-style: none;
}

.bt-four .btn-four:hover {
  -webkit-box-shadow: 0 1fpx 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1fpx 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bt-four h2 {
  display: block;
  -webkit-margin-before: 1.33em;
          margin-block-start: 1.33em;
  -webkit-margin-after: 1.33em;
          margin-block-end: 1.33em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  margin-top: 10px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 32px;
  font-weight: bold;
}
/*# sourceMappingURL=style .css.map */